extends templates/layout.pug

block vars
  - 
    var 
      title = 'Каталог продукции',
      logged = true; 

block content 
  main.main-container
    .container
      .page-top
        .breadcrumbs
          a(href="#") Главная
          span.sep >
          span Каталог продукции
        .order-total-info
          span Текущий заказ:
          strong 105 924  ₽
          a(href="#") оформить 
      .heading-block
        h1.h.h4 Каталог продукции
      .content-block-with-sidebar.row
        .col
          .catalog-filter
            .cf-mob-h
              .title Фильтры
              .right 
                .button-style2.variant2
                  span Сбросить все
                .close.base-icon-cross
            .row-item.active
              .title Цена
                i.base-icon-down
              .drop-block
                .price-filter-block
                  input.range-slider(type="text" data-min="1200" data-max="39000" data-from="4300" data-to="25000" data-step="100")
                  .inputs
                    input(type="number" min="1200" max="39000" value="1300").input.style1.from
                    input(type="number" min="1200" max="39000" value="25000").input.style1.to
            .row-item
              .title Бренды
                i.base-icon-down
              .drop-block
                .scrollbar-inner
                  ul.filter-menu
                    -
                      var array = [
                        {h: 'Alerana(0%)'},
                        {h: 'Always(4%)'},
                        {h: 'American Crew(10%)'},
                        {h: 'Assistant Professional(2%)', c: true},
                        {h: 'Babyliss(4%)'},
                        {h: 'Batiste(15%)'},
                        {h: 'Be Hair(15%)'},
                        {h: 'Beautyblender(1%)'},
                      ],
                      array2 = [
                        {h: 'Уход за раздраженной и поврежденной кожей'},
                        {h: 'Увлажнение и восстановление кожи'},
                        {h: 'Дезодоранты'},
                        {h: 'Уход за ногами'},
                        {h: 'Уход за руками'},
                        {h: 'Женская гигиена'},
                        {h: 'Контрацепция'},
                        {h: 'Средства от летающих насекомых'},
                        {h: 'Эпиляция'},
                      ]
                    each i, index in array
                      - 
                        css_class = '',
                        style = ''
                      if i.c
                        -
                          css_class = 'active';
                          style = 'display: block;'
                      li(class=css_class)
                        a(href="#")= i.h
                        ul.sub-menu(style=style)
                          li.price-link
                            a(href="#").download-price-link
                              i.base-icon-xls-file
                              span Скачать прайс-лист по бренду
                          each i2, index2 in array2
                            li
                              .input-box
                                input(type="checkbox", name="filter"+index+index2 id="filter"+index+index2)
                                label(for="filter"+index+index2)
                                  span= i2.h
            .row-item
              .title Назначение
                i.base-icon-down
              .drop-block
                .scrollbar-inner
                  -
                    var array = [
                      {h: 'Уход за раздраженной и поврежденной кожей'},
                      {h: 'Увлажнение и восстановление кожи'},
                      {h: 'Дезодоранты'},
                      {h: 'Уход за ногами'},
                      {h: 'Уход за руками'},
                      {h: 'Женская гигиена'},
                      {h: 'Контрацепция'},
                      {h: 'Средства от летающих насекомых'},
                      {h: 'Эпиляция'},
                    ]
                  each i, index in array
                    .input-box
                      input(type="radio", name="filter_radio" id="filter_radio"+index)
                      label(for="filter_radio"+index)
                        span= i.h
            .row-item
              .title Вид продукции
                i.base-icon-down
              .drop-block
                .scrollbar-inner
                  -
                    var array = [
                      {h: 'Уход за раздраженной и поврежденной кожей'},
                      {h: 'Увлажнение и восстановление кожи'},
                      {h: 'Дезодоранты'},
                      {h: 'Уход за ногами'},
                      {h: 'Уход за руками'},
                      {h: 'Женская гигиена'},
                      {h: 'Контрацепция'},
                      {h: 'Средства от летающих насекомых'},
                      {h: 'Эпиляция'},
                    ]
                  each i, index in array
                    .input-box
                      input(type="checkbox", name="filter_checkbox"+index id="filter_checkbox"+index)
                      label(for="filter_checkbox"+index)
                        span= i.h
        .col-12.col-lg-9
          .catalog-top
            .sort-label Сортировка:
            //
              Добавить класс к "sort-direction" при:
                asc - по возрастанию
                desc - по убыванию
            .sort-direction.asc
            .cat-sort
              .label 
                span Цена
                i.base-icon-down
              .dropdown
                .item.current
                  a(href="#") Цена
                .item
                  a(href="#") Бренд
                .item
                  a(href="#") Название
                .item
                  a(href="#") Скидка
            .cat-sort
              .label 
                span Наличие
                i.base-icon-down
              .dropdown
                .item.current
                  a(href="#") Наличие
                .item
                  a(href="#") Наличие
                .item
                  a(href="#") Наличие
                .item
                  a(href="#") Наличие
            .a-select
              .label 
                span Все категории
                i.base-icon-down
              .dropdown
                .item
                  a(href="#")
                    | Ухаживающая Серия
                    em 15
                .item
                  a(href="#")
                    | Востанавливающая Серия
                    em 15
                .item
                  a(href="#")
                    | Питающая Серия
                    em 15
                .item
                  a(href="#")
                    | Вторая Серия
                    em 15
                .item.special
                  a(href="#")
                    | Еще Какой То Раздел
                    em 15
            .search-form.type2
              input(type="text" placeholder="Введите поисковый запрос").input
              button.submit.base-icon-search
            .catalog-view-swich
              .catalog-t-grid.active
                i.base-icon-grid
              .catalog-t-row
                i.base-icon-row
          .mob-catalog-top
            .a-select
              .label 
                span Сначала дешевые
                i.base-icon-down
              .dropdown
                .item.special
                  a(href="#") Сначала дешевые
                .item.special
                  a(href="#") Сначала дешевые
                .item.special
                  a(href="#") Сначала дешевые
                .item.special
                  a(href="#") Сначала дешевые
            .open-filter
          .catalog-row-h
            .crh-item.sku Артикул
            .crh-item.name Наименование
            .crh-item.stock Остатки
            .crh-item.count Кол-во
            .crh-item.price Цена
          .catalog-items.row
            - n = 0;
            while n < 16
              - n++;
              .catalog-item.col-12.col-sm-6.col-md-4.col-lg-3
                .wrap
                  .sku AS40100
                  .image
                    a(href="#")
                      img(src="images/prod-thumb.jpg" alt="Лак стойкой фиксации с эффектом памяти \"Strong Touch\" 490")
                  a(href="#").name 
                    if n == 3
                      | Кератиновые филлеры для глубокого восстановления волос "Oil & Booster" 150 х 2
                      span.dots(title="Полное название")
                    else
                      | Лак стойкой фиксации с эффектом памяти "Strong Touch" 490
                  .stock 1 280 шт.
                    if n == 5
                      span Не закупаем
                    else if n == 6
                      span Ожидается
                  .stickers
                    .s-item.sale Уценка
                    .s-item.new NEW
                    .s-item.percent %
                  .cart-d
                    .quantity-block
                      .b.minus.base-icon-minus
                      input.input(type="number" value="0" min="0" max="10")
                      .b.plus.base-icon-plus
                    .price-block
                      .price 1 834 ₽
                      .sub-price 0 ₽
                  .price-details
                    .pd-item
                      .label Розница
                      .price
                        .old 2 534
                        span 1 834 ₽
                    .pd-item
                      .label Опт (от 3)
                      .price
                        .old 1 834
                        span 1 650 ₽
                    .pd-item
                      .label Специалистам
                      .price
                        a(href="#") Узнать
          .pagination
            a(href="#") 1
            span 2
            a(href="#") 3


