extends templates/layout.pug

block vars
  -
    var
      title = 'Личный кабинет',
      logged = true;

block content
  main.main-container
    .container
      .page-top
        .breadcrumbs
          a(href="#") Главная
          span.sep >
          span Личный кабинет
        .order-total-info
          span Текущий заказ:
          strong 105 924  ₽
          a(href="#") оформить
      .heading-block
        h1.h.h4 Личный кабинет
      .content-block-with-sidebar.row
        .col-12.col-lg-4
          ul.links-menu
            li
              a(href="#") Личные данные
            li
              a(href="#") Текущий заказ
            li
              a(href="#") Архив заказов
            li
              a(href="#") Обратная связь
          .site-message-block.error
            i.base-icon-warning
            div Вы не сможете оформить заказ пока не заключите договор
          .account-details-block
            -
              var array = [
                {h: 'Ваш регион:', d:'Москва'},
                {h: 'Дни доставки:', d:'пн,вт,чт'},
                {h: 'Дни доставки:', d:'Доставка заказов осуществляется по графику: понедельник, вторник, четверг. Заказы отправленные до 17.00, доставляются на следующий день. Заказы отправленные после 17.00, доставляются через день, в соответствии с графиком доставки.'},
                {h: 'На вашем счету:', d:'733 балла '},
              ]
            each i in array
              .item
                .label= i.h
                .value= i.d
        .col
          form.account-edit-form
            .heading-block
              h5.h Личные данные
            .row
              -
                var array = [
                  {h: 'Логин', c: 'col-sm-6'},
                  {h: 'Фамилия', c: 'col-sm-6'},
                  {h: 'Почта', c: 'col-sm-6'},
                  {h: 'Имя', c: 'col-sm-6'},
                ]
              each i in array
                .col-12(class=i.c)
                  .input-row
                    label= i.h
                    input.style1
              .col-12.col-sm-6
                .input-row
                  label Телефон
                  input.style1(type='tel')
              .col-12.col-sm-6
                .input-row
                  label Отчество
                  input.style1
            .heading-block
              h5.h Компания и адрес
            .row
              -
                var array = [
                  {h: 'Наименование компании'},
                  {h: 'Наименование юр.лица'},
                  {h: 'Фактический адрес'},
                ]
              each i in array
                .col-12
                  .input-row
                    label= i.h
                    input.style1
            .heading-block
              h5.h Пароль
            .change-password-form
              label Действующий пароль
              .row
                .col
                  input.style1
                .col
                  input.button-style3.variant2(type="button" value="Изменить пароль")
            .heading-block
              h5.h Документы
            .document-item.row
              .desc.col Тип документа (его название и загружаемое расширение например в pdf)
              .col
                .upload-input-type2
                  .label
                    span Загрузите документ
                    i.base-icon-cross
                  .button-style4.variant2 Загрузить
            .document-item.row
              .desc.col Тип документа (его название и загружаемое расширение например в pdf)
              .col
                .upload-input-type2
                  .label.uploaded
                    span Zagruzeniy documen....pdf
                    i.base-icon-cross
                  .button-style4.yellow На проверке
            .document-item.row
              .desc.col Тип документа (его название и загружаемое расширение например в pdf)
              .col
                .upload-input-type2
                  .label.uploaded
                    span Zagruzeniy documen....pdf
                    i.base-icon-cross
                  .button-style4.gray Загружено
            .document-item.row
              .desc.col Тип документа (его название и загружаемое расширение например в pdf)
              .col
                .upload-input-type2.fall-down
                  .button-style4.red Сбой загрузки
                  .button-style4.variant2 Загрузить
            .document-item.row
              .desc.col Тип документа (его название и загружаемое расширение например в pdf)
              .col
                .upload-input-type2
                  .label.uploaded
                    span Zagruzeniy documen....pdf
                    i.base-icon-cross
                  .button-style4.red Отклонено
            .document-item.row
              .desc.col Тип документа (его название и загружаемое расширение например в pdf)
              .col
                .upload-input-type2
                  .label.uploaded
                    span Zagruzeniy documen....pdf
                    i.base-icon-cross
                  .button-style4.green Принято
            .submit-button.row
              .col.col-sm-6
                input.button-style3(type="submit", value="Сохранить изменения")
